
<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Calebe">
        <setting label="SteamID" type="text" id="steam_publicurl" default="calebenovequatro" />
        <setting label="Executable" type="text" id="steam_bin" default="nao sei" />
    </category>
</settings>


